@import './../../../scss/colors';

.navbar-input-container {
  width: 100%;

  &>* {
    color: white;
  }
}

.navbar-input-container--field {
  background-color: rgba(white, 0.15);
  border-radius: 4px;
  max-width: 88%;
  padding: 4px 16px;
  transition: all ease-in-out 0.3s;
  width: 100%;

  &:hover,
  &:focus-visible &:focus {
    background-color: rgba(white, 0.25);
  }
}