@import './../../scss/colors';

$img-border-radius: 4px;

.vinyl-detail-container {
  background-color: $white-1;
  margin-top: 14rem;
  position: relative;
  z-index: 1;
}

.vinyl-detail-cover {
  border-radius: 8px;
  min-height: 100px;
  position: relative;
  width: 100%;
  z-index: 1;

  figure {
    border-radius: $img-border-radius;
    bottom: 0;
    box-shadow: $base-shadow;
    left: 25%;
    margin: 0;
    max-width: 50%;
    position: absolute;
    z-index: 1;

    img {
      border-radius: $img-border-radius;
      display: block;
      width: 100%;
      position: relative;
      z-index: 2;
    }

    .vinyl-detail-disc {
      top: 1%;
      left: 0;
      position: absolute;
      height: 98%;
      width: 98%;
      border-width: 4px;
      transition: all ease-in-out 0.3s;

      &::before {
        border-width: 4px;
      }
    }
  }
}

.animate {
  animation-name: rollout;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes rollout {
  to {
    transform: translateX(50%);
  }
}