.vinyl {
  background:

    // light 
    conic-gradient(rgba(255, 255, 255, 0) 30deg, rgba(255, 255, 255, 0.25) 120deg,
      rgba(255, 255, 255, 0.25) 120deg, rgba(255, 255, 255, 0) 210deg,
      rgba(255, 255, 255, 0) 210deg, rgba(255, 255, 255, 0.25) 240deg,
      rgba(255, 255, 255, 0.25) 270deg, rgba(255, 255, 255, 0) 360deg),

    // Rings
    radial-gradient(circle,
      #000000 0%,

      #000000 36%,
      #494949 36.5%,
      #494949 37%,
      #000000 37.5%,

      #000000 46%,
      #494949 46.5%,
      #494949 47%,
      #000000 47.5%,

      #000000 62%,
      #494949 62.5%,
      #494949 63%,
      #000000 63.5%,

      #000000 74%,
      #494949 74.5%,
      #494949 75%,
      #000000 75.5%,


      #000000 100%);
  border: 10px solid #282828;
  border-radius: 100%;
  height: 400px;
  width: 400px;
  position: relative;
  z-index: 1;

  &::before {
    background-color: var(--labelColor);
    border-radius: 100%;
    border: 10px solid #282828;
    content: "";
    height: 30%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30%;
    z-index: 2;
  }

  &::after {
    background-color: white;
    border-radius: 100%;
    content: "";
    height: 2%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 2%;
    z-index: 2;
  }
}