@import './../../scss/colors';

.vinyl {
  background:
    // light 
    conic-gradient(rgba(255, 255, 255, 0) 30deg, rgba(255, 255, 255, .35) 120deg,
      rgba(255, 255, 255, .35) 120deg, rgba(255, 255, 255, 0) 210deg,
      rgba(255, 255, 255, 0) 210deg, rgba(255, 255, 255, .35) 240deg,
      rgba(255, 255, 255, .35) 270deg, rgba(255, 255, 255, 0) 360deg),

    // Rings
    radial-gradient(circle,
      black 0%,

      black 36%,
      $gray-2 36.5%,
      $gray-2 37%,
      black 37.5%,

      black 46%,
      $gray-2 46.5%,
      $gray-2 47%,
      black 47.5%,

      black 62%,
      $gray-2 62.5%,
      $gray-2 63%,
      black 63.5%,

      black 74%,
      $gray-2 74.5%,
      $gray-2 75%,
      black 75.5%,


      black 100%);
  background-blend-mode: lighten, normal;
  border: 10px solid #282828;
  border-radius: 100%;
  height: 400px;
  width: 400px;
  position: relative;
  z-index: 1;

  &::before {
    background-color: var(--labelColor);
    border-radius: 100%;
    border: 10px solid #282828;
    content: "";
    height: 30%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 30%;
    z-index: 2;
  }

  &::after {
    background-color: white;
    border-radius: 100%;
    content: "";
    height: 2%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 2%;
    z-index: 2;
  }
}