@import './../../../scss/colors';

.card-result-container {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
    0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15),
    0 8px 8px rgba(0, 0, 0, 0.15),
    0 16px 16px rgba(0, 0, 0, 0.15);
  margin: 8px auto 16px;
}

.card-result-img-container {
  display: flex;
  max-width: 49%;
  position: relative;
}

.card-result-view-icon{
  background-color: rgba($cream-1, 0.25);
  color: $dark-blue-1;
  height: 40px;
  right: 8px;
  position: absolute;
  top: 8px;
  width: 40px;
  z-index: 100;

  &:hover {
    background-color: rgba($cream-1, 0.35);
  }
}


.card-result-text-container {
  display: flex;
  flex-direction: column;
  min-width: 51%;
}