$dark-blue-1: #050326;
$dark-blue-2: #090740;
$dark-blue-3: #151340;
$dark-blue-4: #2C3740;


$pink: #A67C7C;

$cream-1: #F2E2CE;
$cream-2: #D9D0C1;
$cream-3: #BFB8A3;

$gray-1: #8C8979;
$gray-2: #494949;
$white-1: #fafafa;

$base-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
0 2px 2px rgba(0, 0, 0, 0.15),
0 4px 4px rgba(0, 0, 0, 0.15),
0 8px 8px rgba(0, 0, 0, 0.15),
0 16px 16px rgba(0, 0, 0, 0.15);