$dark-blue-1: #050326;
$dark-blue-2: #090740;
$dark-blue-3: #151340;
$dark-blue-4: #2C3740;

$pink: #A67C7C;

$cream-1: #F2E2CE;
$cream-2: #D9D0C1;
$cream-3: #BFB8A3;

$gray-1: #8C8979;
$white-1: #fafafa;